h1, h3 {
	color: #24508E;
}

h3 {
	margin: 20px 0 0 20px;
}

h1 {
	margin: 10px 20px;
}

nav ul {
	padding-left: 20px;
}

nav ul li {
	text-align: center;
	display: inline-block;
	padding: 5px 0;
	margin: 0;
	background-color: #4D4D4D;
	width: 170px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
}

.nav1 {
	margin: 0;
}

.nav2 {
	margin: 0;
	font-size: small;
}